<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>mybookshelf</title>
    <meta viewport="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/header.css" />
    <script src="../static/js/navtoggle.js"></script>
</head>

<body>

    <nav>
        <div id="navbar">
            <a href="javascript:void(0);" id="hamburger" onclick="navToggle()">
                <p class="hide-desktop">menu</p>
            </a>
            <ul id="links" class="hide-mobile">
                <a class="nav-button" href="/">
                    <li>
                        <p>Home</p>
                    </li>
                </a>
                <a class="nav-button" href="/">
                    <li>
                        <p>Home</p>
                    </li>
                </a>
                <a class="nav-button" href="/">
                    <li>
                        <p>Home</p>
                    </li>
                </a>
            </ul>
        </div>


        <a id="header-title" href="/">
            <h1>test app</h1>
        </a>
    </nav>

    <main>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
        <h1>sample text</h1>
    </main>

    <footer>

    </footer>

</body>

</html>